streamlit
pandas
numpy
matplotlib
seaborn
plotly
statsmodels
openpyxl
groq
xgboost
scikit-learn
setuptools
fitter
pillow
kaleido
streamlit-aggrid
streamlit-ext
transformers
torch
torchvision
#sentence-transformers 
#faiss-cpu